################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Client/SmartHomeClient/SmartHomeClient.Android/obj
/Client/SmartHomeClient/SmartHomeClient.Android/bin/Debug
/Client/SmartHomeClient/SmartHomeClient/obj
/Client/SmartHomeClient/SmartHomeClient/bin/Debug/netstandard2.0
