################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Client/SmartHomeClient/SmartHomeClient.Android/obj
